rest-model/src/main/resources/xsd/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CustomerDTO" type="CustomerDTOType"/>
    <xs:complexType name="CustomerDTOType">
        <xs:sequence>
            <xs:element type="xs:byte" name="id"/>
            <xs:element type="xs:string" name="firstName"/>
            <xs:element type="xs:string" name="lastName"/>
            <xs:element type="xs:string" name="customerUrl"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>